fastapi
uvicorn[standard]
fastapi-users[sqlalchemy]==12.1.3
SQLAlchemy>=1.4
asyncpg
alembic
passlib[bcrypt]
python-jose[cryptography]
psycopg2-binary
python-multipart
python-dotenv
pydantic[email]
pydantic-settings
pytest
pytest-asyncio
pytest-cov
aiosqlite
httpx
